*/Binaries
*/Build
*/Intermediate
*/Saved
*/DerivedDataCache
*.VC.db
*/.sln

Binaries/
Content/Levels/
Saved/
Intermediate/
TrashPanda.sln
*.suo
*.suo
*.umap
Content/Levels/Level1_BuiltData.uasset
*.suo
